{% extends 'user/base.html' %}

{% block content %}
    <h2 class="mb-4">Вход</h2>


    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if errors %}
            <div class="row">
                <div class="col-12 mb-2 p-2 rounded bg-danger text-white  bg-opacity-75">
                    {{ errors }}
                </div>
            </div>
        {% endif %}
        <div class="row mb-3">
            <label for="{{form.username.id_for_label}}" class="col-sm-2 col-form-label">Логин</label>
            <div class="col-3">
                {{ form.username }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="{{form.password.id_for_label}}" class="col-sm-2 col-form-label">Пароль</label>
              <div class="col-3">
                  {{ form.password }}
              </div>
        </div>
        <button type="submit" class="btn btn-warning border border-dark">Войти</button>
    </form>
{% endblock %}